<!DOCTYPE html>
<html ng-app='clickReleased'>
<head>
  <meta charset="utf-8" />
  <title class="text-center">Click Released Beta</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style type="text/css">
    body {
    background-size: 100%;
    background-image: url("../assets/balloon.jpg") !important; 
    }
</style>
</head>
<body>
  <h1 class="text-center" style="padding-top:200px; padding-left:350px; color:white">Click Released Beta</h1>
    <div class="search-box">
      <h2 class="text-center" style="padding-left:375px; color: white">Go ahead, burst your bubble</h2>
    </div>
    <div class="text-center" ng-controller="SearchController" style="padding-left:375px;">
      <input id="clicksearch" type="text" ng-model="link" placeholder="Paste URL here">
      <button ng-click="update(link)">Verify</button>
      <h3 style="color:red">{{entity}}</h3>
    </div>

    <div>
      
    </div>

    <!-- <div ng-view></div> -->

    <script src="/scripts/angular/angular.js"></script>
    <script src="scripts/angular-route/angular-route.js"></script>

    <script src="services/services.js"></script>
    <script src="search/search.js"></script>
    <script src="/app.js"></script>

  <footer>
    <p class="text-center text-muted" style="padding-top:200px; padding-left:375px;">© Copyright 2016 Adam Behrens</p>
    <p class="text-center text-muted" style="padding-left:375px;"> Text analysis by the Watson AlchemyAPI www.alchemyapi.com</p>
  </footer>
</body>


</html>
