<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/head %>
</head>
<body class="container">
  <header>
    <!-- <% include ../views/header %> -->
  </header>
  <main>
    <div class="search-box">
      <h1>Go ahead, free yourself from click bait</h1>
      <input id="clicksearch" type="text" ng-model="clickReleased" placeholder="Paste URL here">
      <button>Verify</button>
    </div>
    <div ng-app='clickReleased'></div>
  </main>
  <footer>
    <% include ../views/footer %>
  </footer>
</body>
</html>
