<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/head %>
</head>
<body class="container">
  <header>
    <% include ../views/header %>
  </header>
  <main>
    <div class="search-box">
      <h1>Paste URL Here</h1>
      <input id="username" type="text" name="username">
    </div>
    <div></div>
  </main>
  <footer>
    <% include ../views/footer %>
  </footer>
</body>
</html>
